.navbar{
    display: inline;
    margin-left: 550px;
    width: 400px;
    text-align: right;
    height: 15px;
}
a{
    text-decoration: none;
    margin-left: 70px;
    margin-right: 10px;
    font-size: large;
}
#head{
    display: inline-block;
    color: rgb(149, 42, 42);
}
body{
    background-color: aqua;
}
.contact{
    font-size: large;
}
.certificate{
    font-size: large;
}
a:hover{
    color: rgb(255, 14, 14);
}
#insta{
    color: #d338a4;
    margin-left: 40px;
}
#linkedin{
    color: #313cd5;
    margin-left: 40px;
}
#git{
    color: #38a2d3;
    margin-left: 40px;
}
.mail{
    display: inline-block;
    font-size: large;
}