div1{
    
    display: inline-block;
}
img{
    border-radius: 75%;
    position: absolute;
    left: 150px;
    top: 110px;
}
.div2 {
    font-size: xx-large;
    border: 30px;
    text-decoration: solid;
    display: inline-block;
    position: absolute;
    top: 150px;
    right: 150px;
    padding:40px ;
    padding-bottom: 40px;
}
h1{
    display: inline-block;
    color: brown;
}
a{
    margin-right: 40px;
    font-size: large;
    text-decoration: none;
    color: rgb(195, 120, 51);
}
.navbar{
    margin-left: 650px;
    text-align: right;
    height: 13px;
    padding: 25px;
    color: rgb(192, 118, 48);
    border-radius: 10px;
    display: inline;
    
}
body{
    background-color: aqua;
}
.div3{
    font-size: large;
}
.div4{
    font-size: x-large;
}

#intro{
    color: blue;
    font-size: xx-large;
}
#academy{
    color: blue;
    font-size: xx-large;
}
.div41{
    display: inline-block;
    font-size: large;
    margin-right: 100px;
    border-style: solid;
    border-color: rgb(106, 49, 162);
    border-radius: 20px;
    padding: 5px;
    margin-left: 20px;
}
.div42{
    font-size: large;
    text-align: center;
    border-style: solid;
    border-color: rgb(106, 49, 162);
    border-radius: 20px;
    padding: 5px;
}